# 4.6: Combining & Exporting Data

### This notebook contains the following points:
     01. Importing Libraries
     02. Importing Data
     03. Combining & Exporting Data
         A. Consistency Checks 
         B. Combining Data
         C. Exporting Data

## 01. Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [3]:
# turning project folder path into string
path = r'/Users/lisa/DA Projects/12-2022 Instacart Basket Analysis'

In [4]:
# importing products data
df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv'))

In [5]:
# importing orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

In [6]:
# importing orders_prior data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))

## 03. Combining & Exporting Data

### A. Consistency Checks

In [7]:
# mixed data type check
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

In [8]:
# checking for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
# checking for duplicates
df_ords_prior[df_ords_prior.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### B. Combining Data

In [6]:
# Checking Dataframe ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [7]:
# Checking Dataframe ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Checking size/shape for ords
df_ords.shape

(3421083, 9)

In [9]:
# Checking size/shape for ords_prior
df_ords_prior.shape

(32434489, 4)

In [10]:
# Merging ords & ords_prior with inner join
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [12]:
# Checking Frequency inner join
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
# Merging ords & ords_prior with outer join
df_merged_large2 = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [14]:
df_merged_large2.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [16]:
# Checking Frequency outer join
df_merged_large2['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [24]:
df_merged_large.shape

(32434489, 13)

### C. Exporting Data

In [17]:
# Exporting merged ords as CSV
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [18]:
# Exporting merged ords as PKL
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

Both files were exported. CSV took between 3 to 4 minutes. PKL took under 10 seconds.