# 4.5: Data Consistency Checks

### This notebook contains:
    01. Importing Libraries
    02. Importing Data
    03. Data Consistency Checks
        A. Mixed-Type Data
        B. Missing Values
        C. Duplicates
    04. Additional Consistency Checks - Task

## 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
# turning project folder path into string
path = r'/Users/lisa/DA Projects/12-2022 Instacart Basket Analysis'

In [3]:
# importing products data
df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'products.csv'))

In [4]:
# importing orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

## 03. Data Consistency Checks

### Mixed-Type Data

In [5]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
# Create a test dataframe
df_test=pd.DataFrame()

In [7]:
# Create a mixed type column
df_test['mix']=['a','b',1,True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [9]:
# check for mixed-type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
# converting data type for test df
df_test['mix'] = df_test['mix'].astype('str')

### Missing Values

In [11]:
# checking for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [12]:
# subsetting NaN's
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [13]:
#check results
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [14]:
df_prods.shape

(49693, 5)

In [15]:
# Creating new prods dataframe without NaN's
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [16]:
# Checking Results
df_prods_clean.shape

(49677, 5)

### Duplicates

In [17]:
# Subsetting duplicates from df prods clean
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [18]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [19]:
df_prods_clean.shape

(49677, 5)

In [20]:
# Creating new dataframe without dups
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [21]:
df_prods_clean_no_dups.shape

(49672, 5)

In [22]:
# Exporting cleaned df prods as CSV
# df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## 04. Additional Consistency Checks (Tasks 4.5)

### 2. Run the df.describe() function on your df_prods dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

In [23]:
# Checking for further inconsistencies or problems
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

The max value for price (99999) seems to be unusually high. I can't imagine any grocery store product that costs that much. This could be an error or a testvalue. The row(s) with that price value needs to be investigated.

In [24]:
# Checking how many rows have a price of 99999
df_prods_clean_no_dups[df_prods_clean_no_dups.prices==99999]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

### 3. Check for mixed-type data in your df_ords dataframe.

In [25]:
# Checking for mixed-type data in df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixed-type data detected.

### 5. Run a check for missing values in your df_ords dataframe.  
Report your findings and propose an explanation for any missing values you find.

In [26]:
# search for missing values in df_ords
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [27]:
# Creating new subset for the NaN's
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [28]:
df_ords_nan.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN

In [29]:
# Checking order_number frequency
df_ords_nan['order_number'].value_counts()

1    206209
Name: order_number, dtype: int64

No missing values were found except 206209 in 'days_since_prior_order'. My initial thought was, that those orders are first time oders. 
I checked my assumption by looking at the frequency of 'order_number' to see what values are present and how often they occur. The results support my thought of them being first-time orders as all missing values have the order_number '1'.

### 6. Address the missing values using an appropriate method.
Explain why you used your method of choice.

In [30]:
# Counting all orders
df_ords['order_id'].value_counts(dropna=False)

2539329    1
1591157    1
1354759    1
1971373    1
1558866    1
          ..
3266950    1
118963     1
9433       1
2938641    1
272231     1
Name: order_id, Length: 3421083, dtype: int64

In [31]:
# Checking how high the percentile of missing values is 
print(206209/(3421083/100))

6.027594185817765

In [32]:
# Creating a df for cleaned ords data
df_ords_clean = df_ords

In [33]:
# Creating a new variable to flag orders based on their status as first_order (Boolean)
df_ords_clean['first_order'] = df_ords['days_since_prior_order'].isnull() == True

In [34]:
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [35]:
# Checking if datatype is correct
df_ords_clean['first_order'].dtype

dtype('bool')

I chose to address the missing values by creating a new variable because the data of first time orders can later be used to gain additional insights. 
There are 6 % of missing values. Deleting them would result in the loss of possibly insightful data. For the purpose of answering most business questions it is also irrelevant if the order is a first-time order or from a return customer.

### 7. Run a check for duplicate values in your df_ords data. 
Report your findings and propose an explanation for any duplicate values you find.

In [36]:
# Checking for dups
df_ords_clean[df_ords_clean.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

There are no duplicants in df_ords_clean.

In [37]:
df_ords_clean.shape

(3421083, 8)

In [38]:
df_prods_clean_no_dups.shape

(49672, 5)

### 9. Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [113]:
# Exporting cleaned df_prods
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [114]:
# Exporting cleaned df_ords
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))