# Task 4.6 Combining & Exporting Data

### This notebook contains:
    01. Importing Libraries
    02. Importing Data
    03. Combining Data
    04. Exporting Data

## 01. Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [3]:
# turning project folder path into string
path = r'/Users/lisa/DA Projects/12-2022 Instacart Basket Analysis'

In [4]:
# importing products data
df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv'))

### T3. Import the orders_products_combined dataframe from the pickle file you just saved.

In [5]:
# Importing pkl orders_products_combined
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 03. Combining Data

### T4. Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).

In [6]:
# Checking Shape
df_ords_prods_comb.shape

(32434489, 13)

Same shape as before exporting and then importing.

### T5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [7]:
# checking for keys
df_ords_prods_comb.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

1 common key: 'product_id'

---- Dropping the previous merge column & the index columns created in the last export for both dataframes----

In [9]:
# dropping index columns from df_ords_prods_comb
df_ords_prods_comb.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [10]:
# checking results
df_ords_prods_comb.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [11]:
# dropping merge flag from df_ords_prods_comb
df_ords_prods_comb.drop(columns = '_merge', inplace = True)

In [12]:
# checking results
df_ords_prods_comb.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered'],
      dtype='object')

In [13]:
# dropping index column from prods
df_prods.drop(columns = 'Unnamed: 0', inplace = True)

In [14]:
# checking results
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

---------------------------------------------------------------------------------------------------------------

In [15]:
# Checking shape combi
df_ords_prods_comb.shape

(32434489, 10)

In [16]:
# checking shape prods
df_prods.shape

(49672, 5)

In [22]:
# Merging the two dataframes
df_op_merged = df_ords_prods_comb.merge(df_prods, on = 'product_id', indicator = True)

In [23]:
df_op_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [24]:
# checking shape
df_op_merged.shape

(32404859, 15)

### T6. Confirm the results of the merge using the merge flag.

In [25]:
# Confirming results
df_op_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## 04. Exporting Data

### T7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [26]:
# Exporting merged ords as PKL
df_op_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))